.header {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to right bottom,
    rgba($color-blue-light, 0.9),
    rgba($color-blue-dark, 0.9));
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    display: flex;
    justify-content: center;

    &__logo-box {
        position: absolute;
        top: 7rem;
        left: 7rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}