*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    // This defines what 1rem is
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 40%;
    }

    opacity: 1 !important;

}

body {
    box-sizing: border-box;
    height: 100%;
}

