body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    // font-size: 16px;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 4rem;

    &--main {
        position: relative;
        display: block;
        top: 50%;
        width: 70%;
        margin: 0 auto;
        border-right: 2px solid rgba(#fff, 0.75);
        font-size: 200%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%, -50%);
        text-shadow: 0 1px 1px #f8f9fa;

        @media only screen and (max-width: $bp-large) {
            width: 80%;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 180%;
        }

    }

    &--type__anim-1 {
        animation: typing 3s steps(40, end),
        blink-caret 1s step-end infinite;

        // @media only screen and (max-width: $bp-large) {
        //     animation: typing 3.5s steps(40, end),
        //     blink-caret 1s step-end infinite;
        // }
    }

    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        margin-top: 2rem;
        text-shadow: 0 1px 0 #f8f9fa;
    }

    &--sub-2 {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        margin-top: .3rem;
    }


    // &--type__anim-2 {
    //     animation: type 4s steps(35) 4s 1 normal both,
    //     blinkTextCursor 500ms steps(40) infinite normal;
    // }

}

.heading-secondary {
    color: $color-white;
    text-align: center;
    letter-spacing: .2rem;
    font-size: 3.5rem;
}

.heading-tertiary {
    letter-spacing: .2rem;
    font-size: 5rem;
    text-shadow: 0 1px 2px #aeadad;

    @media only screen and (max-width: $bp-large) {
        order: 1;
    }

    @media only screen and (max-width: $bp-medium) {
        margin-top: 2rem;
    }
}

.heading-portfolio {
    letter-spacing: .2rem;
    font-size: 5rem;
    text-shadow: 0 1px 2px #aeadad;

    @media only screen and (max-width: $bp-large) {
        padding-top: 8rem;
    }
}

// About 
.about-intro {

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.3rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 1.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 1.75rem;
    }
}

.whatido__desc {
    font-size: 2rem;
    width: 100%;
    color: $color-white;
    margin: 0 auto;

    @media only screen and (max-width: $bp-small) {
        font-size: 1.75rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
    }
}

// FOOTER SECTION
.footer-header {
    font-size: 4rem;
}