.section-whatido {
    height: 55vh;
    // padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-blue-light, 0.8),
        rgba($color-blue-dark, 0.8)),
    url(../img/laptop.jpg);
    background-size: cover;
    transform: skewY(-6deg);
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        transform: skewY(6deg);
    }

    .whatido {
        width: 80%;
        margin: 0 auto;
    }
}

.section-portfolio {
    transform: skewY(-6deg);
    padding: 15rem;
    margin-top: -1rem;
    background-color: $color-white-medium-dark;

    @media only screen and (max-width: $bp-large) {
        padding: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 2rem;
    }

    & > * {
        transform: skewY(5deg);

        @media only screen and (max-width: $bp-large) {
            transform: skewY(5.3deg);
         }
    }

    .row {
        max-width: 150rem;
    }

    .portfolio {
        display: flex;
        width: 100%;

        @media only screen and (max-width: $bp-large) {
           flex-wrap: wrap;
        }
    }

    .port-img {
        width: 100%;
    }

    .proj {
        margin: 0 8rem;

        &-desc {
            font-size: 1.5rem;

            @media only screen and (max-width: $bp-large) {
                text-align: center;
                width: 70%;
                margin: 0 auto 5rem auto;
            }

            @media only screen and (max-width: $bp-medium) {
                width: 100%;
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 1.5rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                font-size: 1.85rem;
            }
        }
    }

    .image-effect {
        width: 100%;
    }
      
      .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
        margin-bottom: 5rem;
        box-shadow: 2px 10px 30px 6px #ccc;
    }
      
      .hovereffect .overlay {
        position: absolute;
        overflow: hidden;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        border-bottom: 1px solid #FFF;
        border-top: 1px solid #FFF;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0,1);
        -ms-transform: scale(0,1);
        transform: scale(0,1);
      }
      
      .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      
      .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
      }
      
      .hovereffect:hover img {
        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
        filter: brightness(0.6);
        -webkit-filter: brightness(0.6);
      }
      
      .hovereffect h2 {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        font-size: 17px;
        background-color: transparent;
        color: #FFF;
        padding: 1em 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);

        @media only screen and (max-width: $bp-large) {
            padding: 1.5em 0;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 0.8em 0;
        }
      }

      .hovereffect a {
          text-decoration: none;
          text-transform: uppercase;
          border: 1px solid #fff;
          display: inline-block;
          margin: 0.5rem 0;
          padding: 7px 14px;

        @media only screen and (max-width: $bp-large) {
            font-size: 1.5rem;
        }
      }
      
      .hovereffect a, .hovereffect p {
        color: #FFF;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
      }
      
      .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
      }
}