.section-about {
    background-color: $color-white-medium-dark;
    margin-top: -12vh;
    height: auto;
    padding: 2rem 5rem;
    transform: skewY(-6deg);

    & > * {
        transform: skewY(5deg);
    }

    @media only screen and (max-width: $bp-small) {
        height: auto;
        padding: 5rem;
    }
}

    

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20rem 0;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
        transform: skewY(0deg);
        padding: 5rem;
    }

    @media only screen and (max-width: $bp-large) {
        transform: skewY(0deg);
        padding: 5rem 0;
    }
    

    &__shape {
        width: 25rem;
        height: 25rem;
        transform: translateX(3rem);
        position: relative;
        border-radius: 50%;
        align-self: center;
        backface-visibility: hidden;
        

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }

        @media only screen and (max-width: $bp-large) {
            width: 20rem;
            height: 20rem;
        }

        @media only screen and (max-width: $bp-medium) {
            margin-right: 5rem;
            margin-top: 2rem;
        }

        
        @media only screen and (max-width: $bp-small) {
            margin-right: 5rem;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        transform: translateY(5rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;

        @media only screen and (max-width: $bp-large) {
            transform: translateY(0);
            order: 2 !important;
        }
    }
  
    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: #fff;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;

        @media only screen and (max-width: $bp-large) {
            display: none;
        }


    }

    &:hover &__img {
        transform: translateX(0) scale(1);
        filter: blur(3px) brightness(80%);
        backface-visibility: hidden;

    }

    &__desc {
        align-self: center;
        margin-top: -5rem;
        margin-left: 12.5rem;
        max-width: 50em;
        font-size: 1.25rem;

        @media only screen and (max-width: $bp-large) {
            order: 3;
            margin: 3rem 0 5rem 0;
            padding-left: 8rem;
            max-width: 55em;
            transform: skewY(0);
        }

        @media only screen and (max-width: $bp-medium) {
            margin: 0;
            margin-bottom: 5rem;
            padding: 0;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 0 5rem;
            margin-bottom: 0;
        }

        @media only screen and (max-width: $bp-smallest) {
            padding: 0 2.5rem;
        }
    }

}
