$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;

$color-white-medium-dark: #f8f9fa;

$color-blue-light:#162A41;
$color-blue-dark: #122337;

$color-grey-dark-3: #333;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 80em;   // 1280px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smallest: 26.5em; // 420px;